h1 {
    font-weight: bold;
    color: blue;
}

.warning {
    font-size: 200%;
    color: red;
}

.column {
    width: auto;
    height: auto;


}

.inverse {
    color: white;
    background-color: black;
}

p {
    font-size: 120%;
    color: blue;
}
#HomepageBanner {
    width: 100%
}

#MajorBanner {
    width: 100%;
    position: absolute;
    top: 560px;
    text-align: center;
}

#MajorBanner a {
    text-decoration: none;
    font-stretch: expanded;
    font-size: 700%;
    background-color: red;
    color: black;
}

#MajorBanner a:hover {
    color: white;
    background-color: darkblue;
}
#MajorBanner a:active {
    color: #000000;
    background-color: darkblue;
}


#header {
    width: 100%;
}
#header ul {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 450px;
    margin: 0;
    padding: 0;
    background-color: gold;
}
#header li {
    list-style: none;
    display: inline-flex;
}

#header ul li a {
    height: 40px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

    border: #999999 1px solid;
    color: #333333;
    text-decoration: none;
    font-size: 24px;
}

#header ul li a:hover {
    color: white;
    background-color: darkblue;
}
#header ul li a:active {
    color: #000000;
    background-color: darkblue;
}
