.warning {
    font-size: 200%;
    color: red;
}

.column {
    width: 400px;
    height: auto;
}

.inverse {
    color: white;
    background-color: black;
}

.Paragraph {
    font-size: 200%;
    color: black;
}

.MainHeading {
    font-size: 500%;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

#HomepageBanner {
    width: 100%
}

#MajorBanner {
    width: 100%;
    position: absolute;
    top: 560px;
    text-align: center;
}

#MajorBanner a {
    text-decoration: none;
    font-stretch: expanded;
    font-size: 700%;
    background-color: red;
    color: black;
}

#MajorBanner a:hover {
    color: white;
    background-color: darkblue;
}
#MajorBanner a:active {
    color: #000000;
    background-color: darkblue;
}


#header {
    width: 100%;
}
#header ul {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 450px;
    margin: 0;
    padding: 0;
    background-color: gold;
}
#header li {
    list-style: none;
    display: inline-flex;
}

#header ul li a {
    height: 40px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

    border: #999999 1px solid;
    color: #333333;
    text-decoration: none;
    font-size: 24px;
}

#header ul li a:hover {
    color: white;
    background-color: darkblue;
}
#header ul li a:active {
    color: #000000;
    background-color: darkblue;
}

#Sidebar {
    position: absolute;
    top: 750px;
    border: 2px solid;
    width: 400px;
}

#Sidebar ul {
    text-align: center;
    width: 360px;
    height: auto;
    background-color: gold;
}
#Sidebar li {
    list-style: none;
    display: block;
}

#Sidebar ul li a {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;

    color: #333333;
    text-decoration: none;
    font-size: 44px;
}

#Sidebar ul li a:hover {
    color: white;
    background-color: darkblue;
}
#Sidebar ul li a:active {
    color: #000000;
    background-color: darkblue;
}

#ArticleOneHeading {
    position: absolute;
    left: 500px;
    top: 700px;
}

#ArticleOneBody {
    position: absolute;
    width: 70%;
    height: auto;
    left: 450px;
    top: 800px;
    margin: 0;
    padding: 30px;
    border: double;

}

#ArticleTwoHeading {
    position: absolute;
    left: 500px;
    top: 1150px;
}

#ArticleTwoBody{
    position: absolute;
    width: 70%;
    height: auto;
    left: 450px;
    top: 1250px;
    margin: 0;
    padding: 30px;
    border: double;

}

#ArticleThreeHeading {
    position: absolute;
    left: 500px;
    top: 1550px;
}

#ArticleThreeBody{
    position: absolute;
    width: 70%;
    height: auto;
    left: 450px;
    top: 1650px;
    margin: 0;
    padding: 30px;
    border: double;

}

#Footer {
    width: 100%;
}
#Footer ul {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 2000px;
    margin: 0;
    padding: 0;
    background-color: gold;
}
#Footer li {
    list-style: none;
    display: inline-flex;
}

#Footer ul li a {
    height: 40px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

    border: #999999 1px solid;
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}

#Footer ul li a:hover {
    color: white;
    background-color: darkblue;
}
#Footer ul li a:active {
    color: #000000;
    background-color: darkblue;
}